    <!-- Sellect Branch Function Start -->
    <div class="modal fade" tabindex="-1" data-baxkdrop="static" data-keyboard="false" id="modalTop">
        <div class="modal-dialog modal-dialog-top" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-sm">
                    <h5 class="modal-title">Select Branch</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="form-error"></div>
                                <div class="form-group">
                                      <?php if($data['branch_modal_list']) { ?>
                                        <label style="margin-bottom: 0px;">Select Branch <en>*</en></label>
                                        <ul class="branch_select">
                                          <?php echo $data['branch_modal_list'] ?>
                                        </ul>
                                      <?php } else { ?>
                                        <label style="margin-bottom: 0px;">No branches assigned for you contact your administrator<en>*</en></label>
                                        <ul class="branch_select pull-right p-10">
                                          <a  href="<?php echo COREPATH ?>home/logout" class="btn btn-primary ">Got It</a>
                                        </ul>
                                      <?php } ?>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Sellect Branch Function End -->

    <!-- JavaScript -->
    <script src="<?php echo JSPATH ?>bundle.js?ver=1.5.0"></script>
    <script src="<?php echo JSPATH ?>scripts.js?ver=1.5.0"></script>
    <script src="<?php echo PLUGINS ?>charts/gd-general.js?ver=1.5.0"></script>

    <script src="<?php echo PLUGINS ?>apps/file-manager.js?ver=1.5.0"></script>

    <script src="<?php echo JSPATH ?>validate.min.js"></script>
	  <script src="<?php echo JSPATH ?>user.js"></script>
	  <script src="<?php echo PLUGINS ?>sweetalert/dist/sweetalert.min.js"></script>
    <script src="<?php echo PLUGINS ?>noty/noty.min.js"></script>
    <script type="text/javascript" src="<?php echo PLUGINS ?>fileupload/bootstrap-fileupload.js"></script>
    
    
    <script type="text/javascript">
       $('.datatable-inits').DataTable( {
            buttons: [
                {
                    extend: 'columnVisibility',
                    text: 'Show all',
                    visibility: true
                },
                
            ]
        } );

    </script>


   

    

    <script type="text/javascript">
        $(function() {
          // from http://stackoverflow.com/questions/45888/what-is-the-most-efficient-way-to-sort-an-html-selects-options-by-value-while
          var my_options = $('.facilities select option');
          var selected = $('.facilities').find('select').val();

          my_options.sort(function(a,b) {
            if (a.text > b.text) return 1;
            if (a.text < b.text) return -1;
            return 0
          })

          $('.facilities').find('select').empty().append( my_options );
          $('.facilities').find('select').val(selected);
          
          // set it to multiple
          $('.facilities').find('select').attr('multiple', true);
          
          // remove all option
          $('.facilities').find('select option[value=""]').remove();
          // add multiple select checkbox feature.
          $('.facilities').find('select').multiselect();

          var my_options1 = $('.facilities1 select option');
          var selected1 = $('.facilities1').find('select').val();

          my_options1.sort(function(a,b) {
            if (a.text > b.text) return 1;
            if (a.text < b.text) return -1;
            return 0
          })

          $('.facilities1').find('select').empty().append( my_options1 );
          $('.facilities1').find('select').val(selected1);
          
          // set it to multiple
          $('.facilities1').find('select').attr('multiple', true);
          
          // remove all option
          $('.facilities1').find('select option[value=""]').remove();
          // add multiple select checkbox feature.
          $('.facilities1').find('select').multiselect();

          var my_options2 = $('.facilities2 select option');
          var selected2 = $('.facilities2').find('select').val();

          my_options2.sort(function(a,b) {
            if (a.text > b.text) return 1;
            if (a.text < b.text) return -1;
            return 0
          })

          $('.facilities2').find('select').empty().append( my_options2 );
          $('.facilities2').find('select').val(selected2);
          
          // set it to multiple
          $('.facilities2').find('select').attr('multiple', true);
          
          // remove all option
          $('.facilities2').find('select option[value=""]').remove();
          // add multiple select checkbox feature.
          $('.facilities2').find('select').multiselect();

          var my_options3 = $('.facilities3 select option');
          var selected3 = $('.facilities3').find('select').val();

          my_options3.sort(function(a,b) {
            if (a.text > b.text) return 1;
            if (a.text < b.text) return -1;
            return 0
          })

          $('.facilities3').find('select').empty().append( my_options3 );
          $('.facilities3').find('select').val(selected3);
          
          // set it to multiple
          $('.facilities3').find('select').attr('multiple', true);
          
          // remove all option
          $('.facilities3').find('select option[value=""]').remove();
          // add multiple select checkbox feature.
          $('.facilities3').find('select').multiselect();

          var my_options4 = $('.facilities4 select option');
          var selected4 = $('.facilities4').find('select').val();

          my_options4.sort(function(a,b) {
            if (a.text > b.text) return 1;
            if (a.text < b.text) return -1;
            return 0
          })

          $('.facilities4').find('select').empty().append( my_options4 );
          $('.facilities4').find('select').val(selected4);
          
          // set it to multiple
          $('.facilities4').find('select').attr('multiple', true);
          
          // remove all option
          $('.facilities4').find('select option[value=""]').remove();
          // add multiple select checkbox feature.
          $('.facilities4').find('select').multiselect();

        });
    </script>

   


   


    <?php if (isset($data['scripts'])) { ?> 
        <?php if ($data['scripts']=="managelead" || $data['scripts']=="leadreports" || $data['scripts']=="managecustomer" || $data['scripts']=="importdata" ) { ?>
            <script src="<?php echo PLUGINS ?>datatables-net/media/js/jquery.dataTables.min.js"></script>
            <script src="<?php echo PLUGINS ?>datatables-net/media/js/dataTables.bootstrap4.min.js"></script>
            <!-- Required datatable js -->
            <script src="<?php echo PLUGINS ?>datatable/jquery.dataTables.min.js"></script>
            <script src="<?php echo PLUGINS ?>datatable/dataTables.bootstrap4.min.js"></script>
            <!-- Responsive examples -->
            <script src="<?php echo PLUGINS ?>datatable/dataTables.responsive.min.js"></script>
            <script src="<?php echo PLUGINS ?>datatable/responsive.bootstrap4.min.js"></script>

            <script type="text/javascript">
                $(document).ready(function() {
                    // Default Datatable
                    $('#datatable').DataTable();
                    // Responsive Datatable
                    $('#responsive-datatable').DataTable();
                });
            </script>

           <!--  <script src="https://code.jquery.com/jquery-2.2.4.js"></script> -->
            <script src="https://rawgit.com/nobleclem/jQuery-MultiSelect/master/jquery.multiselect.js"></script>
        <?php } ?>


        <?php if ($data['scripts']=="addproperty"  ) { ?>
            <script type="text/javascript" charset="utf-8" async defer>
            // multiple images
            var property_row = <?php echo $property_row ?>;
            $i = 1;
            function addProperty() {
                html = '<tr id="properts-row' + property_row + '">';
                html += '  <td class="text-left"><input type="text" name="property_row[' + property_row + '][room_name]" value="" placeholder="Enter Room Name" class="form-control" required /></td>';
                html += '  <td class="text-left"><input type="text" name="property_row[' + property_row + '][type]" value="" placeholder="Enter a Type" class="form-control" required /></td>';
                html += '  <td class="text-left"><input type="text" name="property_row[' + property_row + '][sqft]" value="" placeholder="Enter Sqft " class="form-control" required/></td>';

                html += '  <td class="text-left"><input type="file" name="files[]" value="" placeholder="Select Image" class="form-control" /></td>';
                html += '  <td class="text-center"><button type="button" onclick="$(\'#properts-row' + property_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger btn-sm"><em class="icon ni ni-trash"></em></button></td>';
                html += '</tr>';
                html += '<tr></tr>';
                $('#propert tbody').append(html);
                property_row++;
                $i++;
            }
            </script>
        <?php } ?>

        <?php if ($data['scripts']=="addcontactinfo"  ) { ?>
            <script type="text/javascript" charset="utf-8" async defer>
                // multiple images

                var contacts_row = <?php echo $contacts_row ?>;

                $i = 1;
                function addContacts() {
                    html = '<tr id="contacts-row' + contacts_row + '">';
                    html += '  <td class="text-left"><input type="text" name="contacts_row[' + contacts_row + '][name]" value="" placeholder="Enter Name" class="form-control" required /></td>';
                    html += '  <td class="text-left"><input type="text" name="contacts_row[' + contacts_row + '][designation]" value="" placeholder="Enter Designation / Role" class="form-control" /></td>';
                    html += '  <td class="text-left"><input type="text" name="contacts_row[' + contacts_row + '][mobile]" value="" placeholder="Enter Mobile Number" class="form-control" required/></td>';

                    html += '  <td class="text-left"><input type="text" name="contacts_row[' + contacts_row + '][email]" value="" placeholder="Enter Email" class="form-control" /></td>';
                    html += '  <td class="text-center"><button type="button" onclick="$(\'#contacts-row' + contacts_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger btn-sm"><em class="icon ni ni-trash"></em></button></td>';
                    html += '</tr>';
                    html += '<tr></tr>';
                    $('#contacts tbody').append(html);
                    contacts_row++;
                    $i++;
                }
            </script>
        <?php } ?>

        <?php if ($data['scripts']=="addimages") {   //  ?>
            <script src="<?php echo JSPATH ?>jquery.min.js"></script>

            <script type="text/javascript" src="<?php echo PLUGINS ?>jquery-quicksearch/jquery.quicksearch.js"></script>
            <script type="text/javascript" src="<?php echo PLUGINS ?>select2/select2.min.js"></script>
            <script type="text/javascript" src="<?php echo PLUGINS ?>bootstrap-select/dist/js/bootstrap-select.min.js"></script>
            <script src="<?php echo PLUGINS ?>bootstrap-filestyle/src/bootstrap-filestyle.min.js" type="text/javascript"></script>
            <script type="text/javascript" src="<?php echo PLUGINS ?>fileupload/bootstrap-fileupload.js"></script>
            <script type="text/javascript" src="<?php echo PLUGINS ?>multifile/jquery.filer.min.js"></script>
            <script type="text/javascript">
             jQuery(document).ready(function(){
                $('#input2').filer({
                    limit: 10,
                    maxSize: 40,
                    extensions: null,
                    changeInput: '<div class="jFiler-input-dragDrop"><div class="jFiler-input-inner"><div class="jFiler-input-icon"><i class="icon-jfi-cloud-up-o"></i></div><div class="jFiler-input-text"><h3>Click Here to Upload Images</h3> <span style="display:inline-block; margin: 15px 0">or</span></div><a class="jFiler-input-choose-btn blue">Browse Files</a></div></div>',
                    showThumbs: true,
                    appendTo: null,
                    theme: "dragdropbox",
                    templates: {
                        box: '<ul class="jFiler-item-list"></ul>',
                        item: '<li class="jFiler-item">\
                                    <div class="jFiler-item-container">\
                                        <div class="jFiler-item-inner">\
                                            <div class="jFiler-item-thumb">\
                                                <div class="jFiler-item-status"></div>\
                                                <div class="jFiler-item-info">\
                                                    <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                                </div>\
                                                {{fi-image}}\
                                            </div>\
                                            <div class="jFiler-item-assets jFiler-row">\
                                                <ul class="list-inline pull-left">\
                                                    <li>{{fi-progressBar}}</li>\
                                                </ul>\
                                                <ul class="list-inline pull-right">\
                                                    <li><a class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                                </ul>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </li>',
                        itemAppend: '<li class="jFiler-item">\
                                    <div class="jFiler-item-container">\
                                        <div class="jFiler-item-inner">\
                                            <div class="jFiler-item-thumb">\
                                                <div class="jFiler-item-status"></div>\
                                                <div class="jFiler-item-info">\
                                                    <span class="jFiler-item-title"><b title="{{fi-name}}">{{fi-name | limitTo: 25}}</b></span>\
                                                </div>\
                                                {{fi-image}}\
                                            </div>\
                                            <div class="jFiler-item-assets jFiler-row">\
                                                <ul class="list-inline pull-left">\
                                                    <span class="jFiler-item-others">{{fi-icon}} {{fi-size2}}</span>\
                                                </ul>\
                                                <ul class="list-inline pull-right">\
                                                    <li><a data-name="{{fi-name}}" class="icon-jfi-trash jFiler-item-trash-action"></a></li>\
                                                </ul>\
                                            </div>\
                                        </div>\
                                    </div>\
                                </li>',
                        progressBar: '<div class="bar"></div>',
                        itemAppendToEnd: false,
                        removeConfirmation: false,
                        _selectors: {
                            list: '.jFiler-item-list',
                            item: '.jFiler-item',
                            progressBar: '.bar',
                            remove: '.jFiler-item-trash-action',
                        }
                    },
                    addMore: true
                });
              });

            </script>
            <script type="text/javascript" src="<?php echo JSPATH ?>masonry-docs.min.js"></script>
            <script type="text/javascript">
                $(window).load(function() {
                    $('#masonry').masonry({
                        itemSelector: '.col-masonry'
                    });
                });
                function masonryInt () {
                    $('#masonry').masonry({
                        itemSelector: '.col-masonry'
                    });
                }
            </script>
        <?php } ?>
        
        <?php if ($data['scripts']=="addflattype"  ) { ?>

            <script type="text/javascript" charset="utf-8" async defer>
            // multiple images
            var flattype_row = <?php echo $flattype_row ?>;
            $i = 1;
            function addProperty() {
                html = '<tr id="flattype-row' + flattype_row + '">';
                html += '  <td class="text-left"><input type="text" name="flattype_row[' + flattype_row + '][room_type]" value="" placeholder="Enter room type" class="form-control" required /></td>';
                html += '  <td class="text-left"><input type="text" name="flattype_row[' + flattype_row + '][sqft]" value="" placeholder="Enter Sqft " class="form-control" required/></td>';
                html += '  <td class="text-left"><input type="text" name="flattype_row[' + flattype_row + '][description]" value="" placeholder="Enter a description" class="form-control" /></td>';
                
                html += '  <td class="text-center"><button type="button" onclick="$(\'#flattype-row' + flattype_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger btn-sm"><em class="icon ni ni-trash"></em></button></td>';
                html += '</tr>';
                html += '<tr></tr>';
                $('#flattype tbody').append(html);
                flattype_row++;
                $i++;
            }
            </script>
        <?php } ?>


        <?php if ($data['scripts']=="adhoc"  ) { ?>
        
            <script type="text/javascript" charset="utf-8" async defer>
            // multiple images
            var adhoc_row = <?php echo $adhoc_row ?>;
            $i = 1;
            function addProperty() {
                html = '<tr id="adhoc-row' + adhoc_row + '">';
                html += '  <td class="text-left"><input type="text" name="adhoc_row[' + adhoc_row + '][description]" value="" placeholder="Enter Description " class="form-control" required /></td>';
                html += '  <td class="text-left"><input type="file" name="files[]" value="" placeholder="Select Image" class="form-control" /></td>';
                html += '  <td class="text-center"><button type="button" onclick="$(\'#adhoc-row' + adhoc_row + '\').remove();" data-toggle="tooltip" title="Remove" class="btn btn-danger btn-sm"><em class="icon ni ni-trash"></em></button></td>';
                html += '</tr>';
                html += '<tr></tr>';
                $('#adhoccontent tbody').append(html);
                adhoc_row++;
                $i++;
            }
            </script>
        <?php } ?>

        <?php if ($data['scripts']=="addadhoc"  ) { ?>
            <script type="text/javascript" charset="utf-8" async defer>
            // multiple images
            var adhoc_row = <?php echo $add_adhoc_row ?>;
            $i = 1;
            function addPropertyAdhoc() {
                html = '<tr id="adhoc-row' + adhoc_row + '">';
                html += '  <td class="tb-col-os" width="55%"><input type="text" name="adhoc_row[' + adhoc_row + '][description]" value="" placeholder="Enter Description " class="form-control" required /></td>';
                html += '  <td class="tb-col-ip" width="35%"><input type="file" name="files[]" value="" placeholder="Select Image" class="form-control" /></td>';
                html += '  <td class="tb-col-action"><a type="button" onclick="$(\'#adhoc-row' + adhoc_row + '\').remove();" data-toggle="tooltip" title="Remove" class="link-cross mr-sm-n1"><em class="icon ni ni-cross"></em></a></td>';
                html += '</tr>';
                html += '<tr></tr>';
                $('#addadhoccontent tbody').append(html);
                adhoc_row++;
                $i++;
            }
            </script>

        <?php } ?>

        <?php if ($data['scripts']=="assigncalls") { ?>
            <script type="text/javascript" src="<?php echo PLUGINS ?>autocomplete/jquery-ui.min.js"></script>
            <script type="text/javascript" src="<?php echo PLUGINS ?>autocomplete/init.js"></script>

            <!-- Contact Type Auto Complete -->
            <script type="text/javascript" charset="utf-8" async defer>
            $('input[name=\'employee\']').autocomplete({
                'source': function(request, response) {
                    $.ajax({
                        url: core_path + 'resource/ajax_redirect.php?page=employeeAutoComplete&filter_name=' + encodeURIComponent(request),
                        dataType: 'json',
                        success: function(json) {

                            response($.map(json, function(item) {
                                return {
                                    value: item.id,
                                    label: item.name,
                                    emp: item.emp_name,
                                    gender: item.gender,
                                    mob: item.mobile,
                                    mail: item.email,
                                    addr: item.address,
                                }
                            }));
                        }
                    });
                },
                'select': function(item) {
                    $('input[name=\'employee_id\']').val(item['value']);
                    $('input[name=\'employee\']').val(item['label']);

                    $('#employee_name').html(item['emp']);
                    $('#emp_gender').html(item['gender']);
                    $('#mobile').html(item['mob']);
                    $('#email').html(item['mail']);
                    $('#address').html(item['addr']);

                    $("#employee_info").removeClass("display_none");
                    $("#reassign_warp").removeClass("display_none");
                    $("#dropdown_employee").attr("disabled", true);
                    if (item['value'] == "0") {
                        $('#employee_name').html('');
                        $('#emp_gender').html('');
                        $('#mobile').html('');
                        $('#email').html('');
                        $('#address').html('');

                        $("#employee_info").addClass("display_none");
                        $("#reassign_warp").addClass("display_none");
                        $("#dropdown_employee").attr("disabled", false);
                    }
                }
            });
            </script>
            <script type="text/javascript" charset="utf-8" async defer>
            $('input[name=\'reassign_employee\']').autocomplete({
                'source': function(request, response) {
                    var emp_id = $("#assign_employee_id").val();
                    $.ajax({
                        url: core_path + 'resource/ajax_redirect.php?page=reassignEmployeeAutoComplete&filter_name=' + encodeURIComponent(request) + '&emp_id=' + emp_id,
                        dataType: 'json',
                        success: function(json) {

                            response($.map(json, function(item) {
                                return {
                                    value: item.id,
                                    label: item.name,
                                    emp: item.emp_name,
                                    gender: item.gender,
                                    mob: item.mobile,
                                    mail: item.email,
                                    addr: item.address,
                                }
                            }));
                        }
                    });
                },
                'select': function(item) {
                    $('input[name=\'employee_id\']').val(item['value']);
                    $('input[name=\'reassign_employee\']').val(item['label']);

                    $('#employee_name').html(item['emp']);
                    $('#emp_gender').html(item['gender']);
                    $('#mobile').html(item['mob']);
                    $('#email').html(item['mail']);
                    $('#address').html(item['addr']);

                    $("#employee_info").removeClass("display_none");
                    $("#reassign_warp").removeClass("display_none");
                    $("#dropdown_employee").attr("disabled", true);
                    if (item['value'] == "0") {
                        $('input[name=\'customer_id\']').val('');
                        $('input[name=\'customer\']').val('');
                        $('#employee_name').html('');
                        $('#emp_gender').html('');
                        
                        $('#mobile').html('');
                        $('#email').html('');
                        $('#address').html('');
                        $("#employee_info").addClass("display_none");
                        $("#reassign_warp").addClass("display_none");
                        $("#dropdown_employee").attr("disabled", false);
                    }
                }
            });
            </script>

        <?php } ?>

        <?php if ($data['scripts']=="addnews"  ) { ?>
            <script type="text/javascript" src="<?php echo PLUGINS ?>autocomplete/init.js"></script>
            <script type="text/javascript" charset="utf-8" async defer>
                $('input[name=\'customers\']').autocomplete({
                    'source': function(request, response) {
                        //var emp_id = $("#employee_id").val();
                        $('#selected-assistants').removeClass("display_none");
                        //$('#selected-assistants' + emp_id).remove();
                        $.ajax({
                            url: core_path + 'resource/ajax_redirect.php?page=searchCustomerJson&filter_name=' + encodeURIComponent(request) ,
                            dataType: 'json',
                            success: function(json) {
                                response($.map(json, function(item) {
                                    return {
                                        category: item['category_name'],
                                        label: item['name'],
                                        value: item['id']
                                    }
                                }));
                            }
                        });
                    },
                    'select': function(item) {
                        $('input[name=\'customers\']').val('');
                        $('#selected-assistants' + item['value']).remove();
                        if (item['value'] != 0) {
                            $('#selected-assistants').append('<div id="selected-assistants' + item['value'] + '" class="selected_locations" ><em class="icon ni ni-minus-circle remove_country" style="color: red;"></em> ' + item['label'] + '<input type="hidden" name="assistants_selected[]" value="' + item['value'] + '" /></div>');
                        }
                    }
                });
                $('#selected-assistants').delegate('.remove_country', 'click', function() {
                    $(this).parent().remove();
                });
            </script>


            <script type="text/javascript" charset="utf-8" async defer>
                $('input[name=\'editcustomers\']').autocomplete({
                    'source': function(request, response) {
                        var cust_ids = $("#customer_ids").val();
                        //alert(cust_ids);
                        //$('#selected-assistants').removeClass("display_none");
                        //$('#selected-assistants' + cust_ids).remove();
                        $.ajax({
                            url: core_path + 'resource/ajax_redirect.php?page=searchEditCustomerJson&filter_name=' + encodeURIComponent(request) + '&cust_ids=' + cust_ids ,
                            dataType: 'json',
                            success: function(json) {
                                response($.map(json, function(item) {
                                    return {
                                        category: item['category_name'],
                                        label: item['name'],
                                        value: item['id']
                                    }
                                }));
                            }
                        });
                    },
                    'select': function(item) {
                        $('input[name=\'customers\']').val('');
                        $('#selected-assistants' + item['value']).remove();
                        if (item['value'] != 0) {
                            $('#selected-assistants').append('<div id="selected-assistants' + item['value'] + '" class="selected_locations" ><em class="icon ni ni-minus-circle remove_country" style="color: red;"></em> ' + item['label'] + '<input type="hidden" name="assistants_selected[]" value="' + item['value'] + '" /></div>');
                        }
                    }
                });
                $('#selected-assistants').delegate('.remove_country', 'click', function() {
                    $(this).parent().remove();
                });
            </script>

        <?php } ?>



    <?php } ?>
    

    <script src="<?php echo PLUGINS ?>summernote/dist/summernote.min.js"></script>
    <script>

        jQuery(document).ready(function(){

            $('.summernote').summernote({
                height: 200,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: false                 // set focus to editable area after initializing summernote
            });
        });
    </script>

     <?php if(!isset($_SESSION['selected_branch'])) { ?>
      <?php if($_SESSION['super_admin'] == 1 || $_SESSION['employee_role'] == 2 || $_SESSION['employee_role'] == 3 ) { ?>
        <script type="text/javascript">
           window.onload = () => {
              $("#modalTop").modal("show");
           }
           $('#modalTop').modal({
             backdrop: 'static',
            });
        </script>
      <?php } ?>
    <?php } ?>

    <script type="text/javascript">
      $(document).ready(function() {
          $('body').on('click','.branch_not_assigned',function() {
              var value = 1 ;
              $.ajax({
                  type: "POST",
                  url: core_path + "resource/ajax_redirect.php?page=branchNotAssigned",
                  dataType: "html",
                  data: { result: value },
                  beforeSend: function() {
                      $(".page_loading").show();
                  },
                  success: function(data) {
                      $(".page_loading").hide();
                      if (data == 1) {
                          location.reload();
                      } else {
                          bootbox.alert("<h4 class='text-danger'>Sorry Unexpected Error Occurred. Please Try Again.</h4>");
                      }
                  }
              });
              return false;
           });
        });
    </script>

</body>

</html>