   <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- sidebar @s -->
            <div class="nk-sidebar nk-sidebar-fixed is-dark " data-content="sidebarMenu">
                <div class="nk-sidebar-element nk-sidebar-head">
                    <div class="nk-sidebar-brand">
                        <a href="<?php echo COREPATH ?>" class="logo-link nk-sidebar-logo">
                            <img class="logo-light logo-img" src="<?php echo IMGPATH ?>logo.png" srcset="<?php echo IMGPATH ?>logo2x.png 2x" alt="logo">
                            <!-- <img class="logo-dark logo-img" src="<?php echo IMGPATH ?>logo-dark.png" srcset="<?php echo IMGPATH ?>logo-dark2x.png 2x" alt="logo-dark"> -->
                           <!--  <span class="nio-version">General</span> -->
                        </a>
                    </div>
                    <div class="nk-menu-trigger mr-n2">
                        <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                    </div>
                </div><!-- .nk-sidebar-element -->
                <div class="nk-sidebar-element">
                    <div class="nk-sidebar-content">
                        <div class="nk-sidebar-menu" data-simplebar>
                            <ul class="nk-menu">
                                <li class="nk-menu-item <?php echo $data['active_menu']=='home' ? 'active' : '' ?>">
                                    <a href="<?php echo COREPATH ?>" class="nk-menu-link" >
                                        <span class="nk-menu-icon"><em class="icon ni ni-home"></em></span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nk-menu-heading   ">
                                    <h6 class="overline-title text-primary-alt">Lead Management</h6>
                                </li>
                                <li class="nk-menu-item <?php echo $data['active_menu']=='lead' ? 'active' : '' ?>">
                                    <a href="<?php echo COREPATH ?>lead" class="nk-menu-link" >
                                        <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                        <span class="nk-menu-text">Manage Leads</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item <?php echo $data['active_menu']=='leadtype' ? 'active' : '' ?>">
                                    <a href="<?php echo COREPATH ?>lead/leadtype" class="nk-menu-link" >
                                        <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                        <span class="nk-menu-text">Lead Type Master</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item <?php echo $data['active_menu']=='activitytype' ? 'active' : '' ?>">
                                    <a href="<?php echo COREPATH ?>lead/activetype" class="nk-menu-link" >
                                        <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                        <span class="nk-menu-text">Active Type Master</span>
                                    </a>
                                </li>
                                <li class="nk-menu-item <?php echo $data['active_menu']=='import' ? 'active' : '' ?>">
                                    <a href="<?php echo COREPATH ?>importdata" class="nk-menu-link" >
                                        <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                        <span class="nk-menu-text">Import Lead </span>
                                    </a>
                                </li>
                               <!--  <li class="nk-menu-item <?php echo $data['active_menu']=='project' ? 'active' : '' ?>">
                                    <a href="<?php echo COREPATH ?>settings/project" class="nk-menu-link" >
                                        <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                        <span class="nk-menu-text">Project Master</span>
                                    </a>
                                </li> -->


                                <?php if($_SESSION['customers']==1 || $_SESSION['manage_customer']==1 || $_SESSION['kyc_documents']==1 || $_SESSION['adhoc_request']==1 || $_SESSION['invoice']==1 || $_SESSION['super_admin']==1  ) { ?> 

                                    <?php if($_SESSION['customers']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-heading   ">
                                        <h6 class="overline-title text-primary-alt">Customer Management</h6>
                                    </li><!-- .nk-menu-item -->
                                    <?php }?>

                                    <?php if($_SESSION['manage_customer']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='customer' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>customer" class="nk-menu-link" >
                                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                            <span class="nk-menu-text">Manage Customer</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='importcustomer' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>importcustomerdata" class="nk-menu-link" >
                                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                            <span class="nk-menu-text">Import Customer </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['kyc_documents']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='kyc' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>customer/kyc" class="nk-menu-link" >
                                            <span class="nk-menu-icon"><em class="icon ni ni-files"></em></span>
                                            <span class="nk-menu-text">KYC documents</span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['adhoc_request']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='adhoc' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>adhoc" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Adhoc Request  </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['invoice']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='invoice' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>invoice" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-cc-alt2"></em></span>
                                            <span class="nk-menu-text">Invoices / Receipts</span>
                                        </a>
                                    </li> 
                                    <?php }?> 
                                                                       
                                <?php }?>
                                            
                                <?php if($_SESSION['documents']==1 || $_SESSION['general_documents']==1 || $_SESSION['document_checklist']==1 || $_SESSION['super_admin']==1  ) { ?> 

                                    <?php if($_SESSION['documents']==1 || $_SESSION['super_admin']==1) { ?>                   
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">Document Management </h6>
                                    </li><!-- .nk-menu-heading -->
                                    <?php }?>

                                    <?php if($_SESSION['general_documents']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='documents' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>documents" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> General Documents  </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['document_checklist']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='flatdocuments' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>documents/project" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Document Checklists  </span>
                                        </a>
                                    </li>
                                    <?php }?>
                                <?php }?>
                               

                                <?php if($_SESSION['property']==1 || $_SESSION['manage_property']==1 || $_SESSION['property_chart']==1 || $_SESSION['gallery']==1  || $_SESSION['block']==1 || $_SESSION['floor']==1 || $_SESSION['flat_type']==1 || $_SESSION['brochure']==1 || $_SESSION['contact_info']==1 || $_SESSION['payment_info']==1 || $_SESSION['virtual_tour']==1 || $_SESSION['super_admin']==1) { ?> 
                                    <?php if($_SESSION['property']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">Property Settings </h6>
                                    </li><!-- .nk-menu-heading -->
                                    <?php }?>

                                    <?php if($_SESSION['manage_property']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='property' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>property" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Manage Property  </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['property_chart']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='propertychart' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>property/chart" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Property Chart  </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['gallery']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='gallery' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>gallery" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-img"></em></span>
                                            <span class="nk-menu-text">Manage Gallery </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['block']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='block' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>block" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Block Settings </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['floor']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='floor' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>floor" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Floor Settings  </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['flat_type']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='flattype' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>flattype" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Flat Type settings  </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['brochure']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='brochure' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>propertybrochure" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-file-plus"></em></span>
                                            <span class="nk-menu-text">Property Brochure </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['contact_info']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='contactinfo' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>contactinfo" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-contact"></em></span>
                                            <span class="nk-menu-text">Contact Information </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['payment_info']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='paymentinfo' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>paymentinfo" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-money"></em></span>
                                            <span class="nk-menu-text">Payment Information  </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['virtual_tour']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='virtual' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>settings/virtualtour" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-file-plus"></em></span>
                                            <span class="nk-menu-text">360 Virtual Tour Settings </span>
                                        </a>
                                    </li>
                                    <?php }?>
                                <?php }?>

                                <?php if($_SESSION['settings']==1 || $_SESSION['employee']==1 || $_SESSION['request_type']==1 || $_SESSION['kycdoc_type']==1 || $_SESSION['notification']==1 || $_SESSION['company']==1 || $_SESSION['super_admin']==1  ) { ?> 
                                    <?php if($_SESSION['settings']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt"> Master settings  </h6>
                                    </li><!-- .nk-menu-heading -->
                                    <?php }?>

                                    <?php if($_SESSION['employee']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='employee' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>employee" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                            <span class="nk-menu-text">Manage Employee </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['request_type']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='requesttype' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>settings" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                            <span class="nk-menu-text"> Request Type  </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['kycdoc_type']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='kyctype' ? 'active' : '' ?>">
                                            <a href="<?php echo COREPATH ?>settings/kyctype" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-plus"></em></span>
                                                <span class="nk-menu-text">KYC Document Types </span>
                                            </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['notification']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='notification' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>settings/notification" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-emails"></em></span>
                                            <span class="nk-menu-text"> Notification Emails   </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if($_SESSION['company']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='companysettings' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>companysettings" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-setting"></em></span>
                                            <span class="nk-menu-text"> Company Settings   </span>
                                        </a>
                                    </li>
                                    <?php }?>
                                <?php }?>


                                <?php if($_SESSION['reports']==1 || $_SESSION['adhoc_report']==1 || $_SESSION['super_admin']==1) { ?>
                                    <?php if($_SESSION['reports']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-heading ">
                                        <h6 class="overline-title text-primary-alt"> Reports  </h6>
                                    </li> 
                                    <?php }?>                                   

                                    <?php if($_SESSION['adhoc_report']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='adhocreport' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>reports/adhoc" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Adhoc Reports  </span>
                                        </a>
                                    </li>
                                    <?php }?>
                                    <?php if($_SESSION['adhoc_report']==1 || $_SESSION['super_admin']==1) { ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='leadreport' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>reports/lead" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Lead Reports  </span>
                                        </a>
                                    </li>
                                    <?php }?>

                                    <?php if (1!=1): ?>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='customerreport' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>reports" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Customer Reports </span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item <?php echo $data['active_menu']=='documentreport' ? 'active' : '' ?>">
                                        <a href="<?php echo COREPATH ?>reports/document" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Document Reports  </span>
                                        </a>
                                    </li>
                                    <?php endif ?>
                                <?php }?>



                                
                                <?php if (1!=1): ?>
                                    <li class="nk-menu-item">
                                        <a href="<?php echo COREPATH ?>room" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                            <span class="nk-menu-text"> Manage Rooms   </span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="<?php echo COREPATH ?>newsinfo" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-calendar"></em></span>
                                            <span class="nk-menu-text"> News Management   </span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">  FAQ Management   </h6>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="<?php echo COREPATH ?>faqs" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-list-index-fill"></em></span>
                                            <span class="nk-menu-text"> Manage FAQ's </span>
                                        </a>
                                    </li> 
                                <?php endif ?>
                                
                                    
                            </ul><!-- .nk-menu -->
                        </div><!-- .nk-sidebar-menu -->
                    </div><!-- .nk-sidebar-content -->
                </div><!-- .nk-sidebar-element -->
            </div>
            <!-- sidebar @e -->
            <!-- wrap @s -->
            <div class="nk-wrap ">
                <!-- main header @s -->
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-fluid">
                        <div class="nk-header-wrap">
                            <div class="nk-menu-trigger d-xl-none ml-n1">
                                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                            </div>
                            <div class="nk-header-brand d-xl-none">
                                <a href="javascript:void();" class="logo-link">
                                    <img class="logo-light logo-img" src="<?php echo IMGPATH ?>logo.png" srcset="<?php echo IMGPATH ?>logo2x.png 2x" alt="logo">
                                    <img class="logo-dark logo-img" src="<?php echo IMGPATH ?>logo-dark.png" srcset="<?php echo IMGPATH ?>logo-dark2x.png 2x" alt="logo-dark">
                                    <span class="nio-version">General</span>
                                </a>
                            </div><!-- .nk-header-brand -->
                            <div class="nk-header-news d-none d-xl-block">
                                <div class="nk-news-list">
                                   
                                </div>
                            </div><!-- .nk-header-news -->
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <div class="user-info d-none d-md-block">
                                                    <div class="user-name dropdown-indicator"><?php echo ucwords($data['user']['username']) ?>  </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                <div class="user-card">
                                                    <div class="user-avatar">
                                                         <?php
                                                        $words = explode(" ", $data['user']['username']);
                                                        $acronym = "";
                                                        foreach ($words as $w) {
                                                          $acronym .= $w[0];
                                                        }

                                                         ?>
                                                        <span><?php echo $acronym ?></span>
                                                    </div>
                                                    <div class="user-info">
                                                        <span class="lead-text"><?php echo ucwords($data['user']['username']) ?></span>
                                                        <span class="sub-text"><?php echo ($data['user']['email']) ?></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="<?php echo COREPATH ?>profile"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                    <li><a href="<?php echo COREPATH ?>profile/changepassword"><em class="icon ni ni-setting-alt"></em><span>Change Password </span></a></li>
                                                    <li><a href="<?php echo COREPATH ?>profile/activity"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li>
                                                </ul>
                                            </div>
                                            <div class="dropdown-inner">
                                                <ul class="link-list">
                                                    <li><a href="<?php echo COREPATH ?>home/logout"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                    <li class="dropdown notification-dropdown mr-n1">
                                        <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-toggle="dropdown">
                                            <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right dropdown-menu-s1">
                                            <div class="dropdown-head">
                                                <span class="sub-title nk-dropdown-title">Notifications</span>
                                                <a href="javascript:void();">Mark All as Read</a>
                                            </div>
                                            <div class="dropdown-body">
                                                <div class="nk-notification">
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">You have requested <span>KYC documents </span></div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-success-dim ni ni-curve-down-left"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">Your <span>Assign flat/villa to the</span> Customer</div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    <div class="nk-notification-item dropdown-inner">
                                                        <div class="nk-notification-icon">
                                                            <em class="icon icon-circle bg-warning-dim ni ni-curve-down-right"></em>
                                                        </div>
                                                        <div class="nk-notification-content">
                                                            <div class="nk-notification-text">You have requested to <span>documents</span></div>
                                                            <div class="nk-notification-time">2 hrs ago</div>
                                                        </div>
                                                    </div>
                                                    
                                                </div><!-- .nk-notification -->
                                            </div><!-- .nk-dropdown-body -->
                                            <div class="dropdown-foot center">
                                                <a href="javascript:void();">View All</a>
                                            </div>
                                        </div>
                                    </li><!-- .dropdown -->
                                </ul><!-- .nk-quick-nav -->
                            </div><!-- .nk-header-tools -->
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>