 <div class="nk-app-root">
        <!-- wrap @s -->


        <div class="nk-wrap ">
            <!-- main header @s -->
            <div class="nk-header nk-header-fluid is-theme">
                <div class="">
                    <div class="nk-header-wrap">
                        <div class="nk-menu-trigger mr-sm-2 d-lg-none">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav" style="color: #005aaa !important;"><em class="icon ni ni-menu"></em></a>
                        </div>
                        <div class="nk-header-brand">
                            <a href="<?php echo COREPATH ?>" class="logo-link">
                                <img class="logo-light logo-img" src="<?php echo IMGPATH ?>logo.png" srcset="<?php echo IMGPATH ?>logo.png" alt="logo">
                                
                            </a>
                        </div><!-- .nk-header-brand -->
                        <div class="nk-header-menu" data-content="headerNav">
                            <div class="nk-header-mobile">
                                <div class="nk-header-brand">
                                    <a href="<?php echo COREPATH ?>" class="logo-link">
                                        <img class="logo-light logo-img" src="<?php echo IMGPATH ?>logo.png" srcset="<?php echo IMGPATH ?>logo.png" alt="logo">
                                    </a>
                                </div>
                                <div class="nk-menu-trigger mr-n2">
                                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="headerNav"><em class="icon ni ni-arrow-left"></em></a>
                                </div>
                            </div>
                            <!-- Menu -->
                            <ul class="nk-menu nk-menu-main">
                                <li class="nk-menu-item">
                                    <a href="<?php echo COREPATH ?>" class="nk-menu-link" >
                                        <span class="nk-menu-icon"><em class="icon ni ni-home"></em></span>
                                        <span class="nk-menu-text">Dashboard</span>
                                    </a>
                                </li>
                                
                                <?php if($_SESSION['customers']==1 || $_SESSION['manage_customer']==1 || $_SESSION['import_customer']==1 || $_SESSION['super_admin']==1  ) { ?> 
                                <li class="nk-menu-item active has-sub">
                                    <?php if($_SESSION['customers']==1 || $_SESSION['manage_customer']==1 || $_SESSION['import_customer']==1 || $_SESSION['super_admin']==1) { ?>
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                        <span class="nk-menu-text">Customer </span>
                                    </a>
                                    <?php }?>

                                    <ul class="nk-menu-sub">
                                        <?php if($_SESSION['manage_customer']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>customer" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                                <span class="nk-menu-text">Manage Customer</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['import_customer']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>importcustomerdata" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                                <span class="nk-menu-text">Import Customer </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                    </ul>
                                </li>
                                <?php }?>

                               

                                <?php if($_SESSION['lead']==1 || $_SESSION['manage_lead']==1 || $_SESSION['lead_type']==1 || $_SESSION['activity_type']==1 || $_SESSION['lead_source']==1 || $_SESSION['customer_profile']==1 || $_SESSION['import_lead']==1 || $_SESSION['super_admin']==1  ) { ?> 
                                <li class="nk-menu-item active has-sub">
                                    <?php if($_SESSION['lead']==1 || $_SESSION['manage_lead']==1 || $_SESSION['lead_type']==1 || $_SESSION['activity_type']==1 || $_SESSION['lead_source']==1 || $_SESSION['customer_profile']==1 || $_SESSION['import_lead']==1 || $_SESSION['super_admin']==1  ) { ?> 
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon"><em class="icon ni ni-opt-dot-alt"></em></span>
                                        <span class="nk-menu-text">Lead </span>
                                    </a>
                                    <?php }?>
                                    <ul class="nk-menu-sub">
                                        <?php if($_SESSION['manage_lead']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>lead" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                                <span class="nk-menu-text">Manage Leads</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['lead_type']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>lead/leadtype" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                <span class="nk-menu-text">Lead Type Master</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['activity_type']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>lead/activetype" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                <span class="nk-menu-text">Activity Type Master</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        
                                        <?php if($_SESSION['lead_source']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>lead/leadsource" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                <span class="nk-menu-text">Lead Source</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['customer_profile']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>lead/customerprofile" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                <span class="nk-menu-text">Customer Profile Master</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['import_lead']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>importdata" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                <span class="nk-menu-text">Import Lead </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                    </ul>
                                </li>
                                <?php }?>

                               


                                <?php if($_SESSION['manageemployee']==1 || $_SESSION['employee']==1 || $_SESSION['super_admin']==1 ) { ?> 
                                <li class="nk-menu-item active">
                                    <a href="<?php echo COREPATH ?>employee" class="nk-menu-link ">
                                       <span class="nk-menu-icon"><em class="icon ni ni-account-setting"></em></span>
                                        <span class="nk-menu-text"> Manage Employee   </span>
                                    </a>
                                </li>
                                <?php }?>

                                
                                <?php if($_SESSION['reports']==1 || $_SESSION['super_admin']==1 || $_SESSION['lead_report']==1 || $_SESSION['customer_report']==1  ) { ?>
                                <li class="nk-menu-item active has-sub">
                                    <?php if($_SESSION['reports']==1 || $_SESSION['super_admin']==1 || $_SESSION['lead_report']==1 ) { ?>
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        
                                        <span class="nk-menu-icon"><em class="icon ni ni-reports-alt"></em></span>
                                        <span class="nk-menu-text">Reports </span>
                                    </a>
                                    <?php }?>
                                    <ul class="nk-menu-sub">
                                        
                                        <?php if($_SESSION['lead_report']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>reports/lead" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Lead Reports  </span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['customer_report']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>reports/customer" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                                <span class="nk-menu-text"> Customer Reports  </span>
                                            </a>
                                        </li>
                                        <?php }?>

                                       
                                    </ul>
                                </li>
                                <?php }?>

                                <?php if($_SESSION['settings']==1 || $_SESSION['chit_master']==1 || $_SESSION['deposit_master']==1 || $_SESSION['vam_master']==1 || $_SESSION['super_admin']==1 ) { ?>
                                <li class="nk-menu-item active has-sub">
                                    <?php if($_SESSION['settings']==1 || $_SESSION['chit_master']==1 || $_SESSION['deposit_master']==1 || $_SESSION['vam_master']==1 || $_SESSION['super_admin']==1 ) { ?>
                                    <a href="#" class="nk-menu-link nk-menu-toggle">
                                        <span class="nk-menu-icon"><em class="icon ni ni-setting-alt"></em></span>
                                        <span class="nk-menu-text">Master Settings </span>
                                    </a>
                                    <?php }?>
                                    <ul class="nk-menu-sub">
                                        <?php if($_SESSION['chit_master']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>settings/chit" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
                                                <span class="nk-menu-text">Chit Master</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['deposit_master']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>settings/deposite" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                <span class="nk-menu-text">Deposite Master</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['vam_master']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>settings/vas" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                <span class="nk-menu-text">VAS Master</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['branch_master']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>settings/branch" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                <span class="nk-menu-text">Branch Master</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                        <?php if($_SESSION['employee_role_master']==1 || $_SESSION['super_admin']==1) { ?>
                                        <li class="nk-menu-item">
                                            <a href="<?php echo COREPATH ?>settings/employeerole" class="nk-menu-link" >
                                                <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
                                                <span class="nk-menu-text">Employee Role Master</span>
                                            </a>
                                        </li>
                                        <?php }?>
                                    </ul>
                                </li>
                                <?php }?>
                                

                                <?php if (1!=1): ?>

                                <li class="nk-menu-item">
                                    <a href="<?php echo COREPATH ?>room" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-text-rich"></em></span>
                                        <span class="nk-menu-text"> Manage Rooms   </span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="<?php echo COREPATH ?>newsinfo" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-calendar"></em></span>
                                        <span class="nk-menu-text"> News Management   </span>
                                    </a>
                                </li>
                                <li class="nk-menu-item">
                                    <a href="<?php echo COREPATH ?>faqs" class="nk-menu-link">
                                        <span class="nk-menu-icon"><em class="icon ni ni-list-index-fill"></em></span>
                                        <span class="nk-menu-text"> Manage FAQ's </span>
                                    </a>
                                </li>
                                <?php endif ?>

                                
                            </ul>
                        </div><!-- .nk-header-menu -->
                        <div class="nk-header-tools">
                            <ul class="nk-quick-nav">
                                <?php if($_SESSION['super_admin']==1 || $_SESSION['employee_role'] == 2 ) { ?>
                                <li class="order-sm-first">
                                <span class="badge badge-pill badge-md badge-outline-secondary" data-backdrop="static" data-keybord="false" data-toggle="modal" data-target="#modalTop"><em class="icon ni ni-location"></em> Branch <?php echo ( (isset($_SESSION['selected_branch']))? " : ".$_SESSION['selected_branch_name'] : " " ); ?> </span>
                                </li>
                                <?php } elseif ($_SESSION['employee_role'] == 3) { ?>
                                <li class="order-sm-first">
                                <span class="badge badge-pill badge-md badge-outline-secondary" ><em class="icon ni ni-location"></em> Branch <?php echo ( (isset($_SESSION['selected_branch']))? " : ".$_SESSION['selected_branch_name'] : " " ); ?> </span>
                                </li>
                                <?php } ?>
                                <li class="hide-mb-sm"><a href="<?php echo COREPATH ?>home/logout" class="nk-quick-nav-icon"><em class="icon ni ni-signout"></em></a></li>
                                <li class="dropdown user-dropdown order-sm-first">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <div class="user-toggle">
                                            <div class="user-avatar sm">
                                                <em class="icon ni ni-user-alt"></em>
                                            </div>
                                            <div class="user-info d-none d-xl-block">
                                                <div class="user-name dropdown-indicator"><?php echo ucwords($data['user']['username']) ?> </div>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1 is-light">
                                        <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                            <div class="user-card">
                                                <div class="user-avatar">
                                                    <?php
                                                        $words = explode(" ", $data['user']['username']);
                                                        $acronym = "";
                                                        foreach ($words as $w) {
                                                          $acronym .= $w[0];
                                                        }

                                                         ?>
                                                    <span><?php echo $acronym ?></span>
                                                </div>
                                                <div class="user-info">
                                                    <span class="lead-text"><?php echo ucwords($data['user']['username']) ?></span>
                                                        <span class="sub-text"><?php echo ($data['user']['email']) ?></span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="<?php echo COREPATH ?>profile"><em class="icon ni ni-user-alt"></em><span>View Profile</span></a></li>
                                                <li><a href="<?php echo COREPATH ?>profile/changepassword"><em class="icon ni ni-setting-alt"></em><span>Change Password </span></a></li>
                                                <?php if($_SESSION['super_admin']==1) { ?>
                                                <li><a href="<?php echo COREPATH ?>trash/leads"><em class="icon ni ni-trash-alt"></em><span>Trash Management </span></a></li>
                                                <?php }?>
                                                <!-- <li><a href="<?php echo COREPATH ?>profile/activity"><em class="icon ni ni-activity-alt"></em><span>Login Activity</span></a></li> -->
                                            </ul>
                                        </div>
                                        <div class="dropdown-inner">
                                            <ul class="link-list">
                                                <li><a href="<?php echo COREPATH ?>home/logout"><em class="icon ni ni-signout"></em><span>Sign out</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li><!-- .dropdown -->
                            </ul><!-- .nk-quick-nav -->
                        </div><!-- .nk-header-tools -->
                    </div><!-- .nk-header-wrap -->
                </div><!-- .container-fliud -->
            </div>